body{
    background-image: url(web\ img.jpg);
    background-size: cover;

}





section
{ display: grid;
    place-items: center;
     
     background-size: cover;
     background-position: center;
     
     color: black;
}

p {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    
}


h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #2e2821, #ea1555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




nav {
    background-color: #747495;
    overflow :hidden;
    
  
}
nav a {
    float: left;
    color :#d4e1d8;
    text-align:center;
    padding:14px 16px ;
    text-decoration: dashed;
    font-size: 20px;

}
nav a:hover {
    background-color: #282a28;
}
.about-us{
    position: absolute;
    display: inline-block;
}

.about-us-content {
    display: none; 
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    z-index: 1;
}

.about-us:hover .about-us-content {
    display: block; 
}


nav {
    position: relative;
}




form {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    float: left;
    width: 30%;
    margin-top:6px;
    padding:20px
}



.services-section {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(2px, 1fr)); 
    gap: 2px; 
    text-align: left; 
    padding: 40px; 
    margin-left: 50px;
    
}


.service-icon {
    font-size: 40px; 
    margin-bottom: 10px;
}

footer {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    color: black;
    width: 100%;
    text-align: center;
    
}
.content {
    flex:1;
}
.social-links img {
    margin: 10px;
    transition: transform 0.3s ease;
     width: 40px;
    height: 40px;
    object-fit: cover;
   
}

.social-links img:hover {
    transform: scale(1.2); }

input,select,textarea {
width: 100%;
padding: 10px;
border: 2px solid #0c0c0c;
margin-top: 6px;
margin-bottom: 16px;
resize:none;
box-sizing: border-box;


}

.input {display: flex;
    flex-direction: column;
    
    
    gap: 10px;}




button {
    background-color:#04AA6D;
    color: white;
    padding: 10px 15px;
    border :none;
    cursor: pointer;
    border-radius: 5%;
    
}
@media screen and (max-width:600px) {
    .container, button{
        width: 100%;
        margin-top: 0;
    }
    
}




